body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

.top-container {
    background-color: rgb(214, 244, 255);
    text-align: center;
    padding: 0;
}

.top-cloud {
    position: absolute;
    left: 300px;
}

.bottom-cloud {
    position: absolute;
    right: 300px;
}

.mountain {
    max-width: 70%;
    padding: 0;
}

.fp-title {
    font-family: "Sacramento", cursive;
    font-size: 90px;
}