body{
    font-family: "Source Code Pro";
}

.top-container{
    background-color: rgb(196, 236, 252);
    text-align:center;
}

.top-cloud{
    position:relative;
    left:200px;
}

.bottom-cloud{
    position:absolute;
}