p{
    color:#ECDBBA;
}
.top-container{
    background-color: #191919;
    padding:20px;
    border:10px;
    margin:0;
    height:200px;
}

.middle-container{
}
.bottom-container{
}
body{
    margin:0;
}

h1{
    margin:0;
    color:#ECDBBA;
}
